name: deploy service to prod k8s

on:
  push:
    branches:
      - master
  pull_request:

env:
  GITHUB_REGISTRY: ghcr.io

jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Restore application dependencies
        run: dotnet restore

      - name: Build application
        run: dotnet build

      - name: Run unit tests
        run: dotnet test
        
  build-image:
    name: Build and push service image
    runs-on: ubuntu-22.04
    needs: unit-tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Build and push image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
          docker build -t $GITHUB_REGISTRY/tourmalinecore/inner-circle/compensations-api:latest \
            -t $GITHUB_REGISTRY/tourmalinecore/inner-circle/compensations-api:${{ github.sha }} \
            -f Api/Dockerfile .
          docker push $GITHUB_REGISTRY/tourmalinecore/inner-circle/compensations-api:latest
          docker push $GITHUB_REGISTRY/tourmalinecore/inner-circle/compensations-api:${{ github.sha }}

  deploy-to-prod-k8s:
    needs: build-image
    name: Deploy service to k8s for prod environment  
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Deploy
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            RELEASE_NAME=compensations-api
            helm repo add bitnami https://charts.bitnami.com/bitnami
            helm upgrade --install --namespace dev-inner-circle --create-namespace --values ./Api/ci/values-custom.yaml \
            --set "ingress.enabled=true" \
            --set "ingress.hostname=${{ secrets.HOST }}" \
            --set "image.tag=${{ github.sha }}" \
            --set "extraSecretEnvVars.ConnectionStrings__DefaultConnection=${{ secrets.POSTGRESQL_CONNECTION_STRING }}" \
            --set "extraSecretEnvVars.AuthenticationOptions__PublicSigningKey=${{ secrets.PUBLIC_SIGNING_KEY }}" \
            --set "extraSecretEnvVars.InnerCircleServiceUrls__EmployeesServiceUrl=${{ secrets.SALARY_SERVICE_URL }}" \
            --set "extraSecretEnvVars.AUTH_REQUEST_HEADER=${{ secrets.AUTH_REQUEST_HEADER }}" \
            "${RELEASE_NAME}" \
            bitnami/aspnet-core --version 4.4.7
          kubeconfig: "${{ secrets.KUBECONFIG }}"

  production-test:
    # Image to run project and tests
    needs: deploy-to-prod-k8s
    name: Run e2e on production
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    # Get secrets to sign in
    - name: Set up Docker Compose environment variables
      run: |
        echo AUTH_LOGIN=${{ secrets.AUTH_LOGIN }} >> .env
        echo AUTH_PASSWORD=${{ secrets.AUTH_PASSWORD }} >> .env
    - name: Run service via docker-compose and run Karate-tests
    # Hide credentials and token from logs, get the number of failed and passed tests
      run: |
        LOGS=$(docker compose --profile production-e2e-tests up --abort-on-container-exit)
        FILTERED_LOGS=$(echo "$LOGS" | sed -E 's/"login":"[^"]*"/"login":"****"/g' \
                                 | sed -E 's/"password":"[^"]*"/"password":"****"/g' \
                                 | sed -E 's/"accessToken":[^,}]*"[^"]*"/"accessToken":"****"/g' \
                                 | sed -E 's/"Authorization":"[^"]*"/"Authorization":"****"/g' \
                                 | sed -E 's/"X-DEBUG-TOKEN":[^,}]*"[^"]*"/"X-DEBUG-TOKEN":"****"/g' \
                                 | sed -E 's/accessToken":\{[^}]*\}/accessToken":{"value":"****"}/g' \
                                 | sed -E 's/X-DEBUG-TOKEN: [^ ]*/X-DEBUG-TOKEN: ****/g' \
                                 | sed -E 's/Authorization: [^ ]*/Authorization: ****/g')
        echo "$FILTERED_LOGS"
        FAILED=$(echo "$FILTERED_LOGS" | grep -oP 'failed: *\K\d+')
        PASSED=$(echo "$FILTERED_LOGS" | grep -oP 'passed: *\K\d+')
        echo "Failed tests: $FAILED"
        echo "Passed tests: $PASSED"
        if [ "$FAILED" -gt 0 ]; then
          echo "Failed tests found! Failing the pipeline..."
          exit 1
        fi
        if [ "$PASSED" -eq 0 ]; then
          echo "No tests passed! Failing the pipeline..."
          exit 1
        fi
